* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --classic-red: #D62828; 
    --modern-gray: #C2C4C6; 
    --cool-blue: #3D5A80; 
    --neutral-white: #F8F9FA;
    --dark-gray: #333;
}

body {
    background-color: var(--neutral-white);
    color: var(--dark-gray);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.grid-lines {
    border: 1px solid #333;
}

.content {
    flex: 1;
}

h1 {
    color: var(--classic-red);
    text-align: center;
    margin: 20px 0;
}

button {
    background-color: var(--cool-blue);
    color: var(--neutral-white);
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px 0;
    border-radius: 10px;
}

button:hover {
    background-color: var(--dark-gray);
}

.etch-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
}

#grid-container {
    max-width: 75vh;
    max-height: 75vh;
    width: 90vw;
    height: 90vw;
    display: grid;
    border: 20px solid black;
    border-color: var(--classic-red);
}   

.grid {
    background-color: var(--neutral-white);
    border-color: var(--modern-gray);
}

.footer {
    background-color: var(--modern-gray);
    color: var(--dark-gray);
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
    border-top: 1px solid #ccc;
    position: relative;
}

.footer-content {
    margin-top: 20px;
}

.footer a {
    margin: 0 5px; 
    color: var(--cool-blue);
    text-decoration: underline;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: var(--classic-red);
}

@media screen and (min-width: 768px) {
    /* Adjustments for tablets and larger screens */

    .button-container {
        padding: 30px; /* Increased padding for larger screens */
        margin-bottom: 0; /* Reset margin */
    }
    #grid-container {
        width: 75vh;
        height: 75vh;
    }
}

@media screen and (min-width: 1024px) {
    /* Adjustments for desktop screens */

    .etch-container {
        flex-wrap: nowrap; /* Prevents wrapping for larger screens */
    }

    .button-container {
        margin-right: 40px; /* Space between button-container and grid-container */
    }
}
